<footer class="footer_conteiner">

    <div class="texto_ubicacion">
       <h3>UBICACION</h3>
       <H5>Sede central</H5>
       <p>Lino Lagos 1999 Bonzi, Bs As</p>
     </div>
   
     <iframe class="google_maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13119.286445050655!2d-58.52369728597885!3d-34.70967908691202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccf241b01ca07%3A0xd1aadcdf002dde9b!2sLino%20Lagos%201999%2C%20B1785BSS%20Aldo%20Bonzi%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1635305148430!5m2!1ses!2sar" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
   

     <div class="horario_contacto">
       <div class="horario">
         <h3>HORARIOS DE ATENCION</h3>
         <P>Lunes a Sabado </P>
         <p>9.30 a 13 hs. | 16.30 a 20 hs.</p>
       </div>

       <div class="contacto">
         <h3>CONTACTO</h3>
         <P>Tel: +54 11 65357862 </P>
       </div>
     
     </div>

     <div class="mail_conteiner">
       
       <h3 class="texto_consulta">Envia tu consulta</h3>
       
       <div class="formulario">

         <div class="datos_personales">

           <input type="text" name="Asunto">
           <input type="text" name="Nombre Completo*">
           <input type="text" name="Telefono*">
           <input type="text" name="E-mail*">
         
         </div>
       
         <input class="mensaje" type="text" name="Mensaje*" >
     
       </div>

      <div class="boton_enviar"><a  href="*">Enviar</a></div> 
     </div>

     <div class="logo_footer"><a href=""><img src="./img/footer/logo_footer.png" alt="logo seminare"></a></div>
   
     <div class="redes_sociales">
       <a  class="facebook" href="https://www.facebook.com/Seminare-Bonzi-101447732027488"><img src="./img/footer/logo_fb.png" alt="Facebook"></a>
       <a class="instagram" href="https://www.instagram.com/seminare.bonzi/" ><img src="./img/footer/logo_ig.png" alt="Instagram"></a>
     </div>
  </footer>