<!DOCTYPE html>
<html lang="en">
  <! –– /////////////// HEAD /////////////////// ––>
   
      <%-include('./partials/head.ejs') %>

<body>

    <%-include('./partials/header.ejs') %>

    <! –– /////////////// CARRUSEL /////////////////// ––>

    <div class="home">
      <h1 class="clipped">SEMINARE</h1>
      <section class="exhibitor">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./img/header_1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./img/header-2.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <section class="logo_marcas">
        <div class="marcas-conteiner">
          <div class="img-marcas"><img src="./img/HOME/logo_Narrow.png" alt="Logo marca de ropa narrow" width="75%"></div>
          <div class="img-marcas"><img src="./img/HOME/logo_Tropea.png" alt="Logo marca de ropa tropea"width="75%"></div>
          <div class="img-marcas"><img src="./img/HOME/logo_proximo.png" alt=""width="75%"></div>
        </div>
      </section>


      <! –– /////////////// CARDS /////////////////// ––>
      
      <section class="cards-section">
        
        <h2 class="titulo_cards">LO MAS VISTO</h2>
       
        <div class="card-conteiner">
    
          <%-include('./partials/cards.ejs') %>
       
        </div>
       </section>
          
         

    </div>

   
   
    <%-include('./partials/footer.ejs') %>
   



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>